*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-content {
    padding: 30px 0 0 0;
    background-color: #F5F6F7;
    min-height: 720px;
}

.header {
    background-color: #F5F6F7;
}

._container {
    max-width: 1210px;
    width: 100%;
    margin: auto;
}

.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
    z-index: 1
}

.logo img{
    max-width: 130px;
    width: 100%;
    height: auto;
}

.header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30%;
    width: 100%;
}

.header-item{
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #0F2336;
}

.header-btn{
    background: #0F2336;
    border: 1px solid #0F2336;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 26px;
    max-width: 122px;
    width: 100%;
}

.header-section-wrapper{
    position: relative;
    padding-top: 125px;
    height: 720px;
}

.header-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.header-title{
    font-weight: bold;
    font-size: 55px;
    line-height: 76px;
    letter-spacing: 1.11px;
    color: #0F2336;
    max-width: 50%;
    margin-bottom: 50px;
}

.title-span{
    display: block;
    color: #00CCCC;
}

.dot-span{
    color: #F3AF47;
    font-weight: 900;
}

.header-title-btn{
    background: #00CCCC;
    border: 1px solid #00CCCC;
    box-sizing: border-box;
    border-radius: 14px;
    font-size: 18px;
    line-height: 22px;
    color: #0F2336;
    box-shadow: 0px 3px 18px rgb(0 201 201 / 55%);
    padding: 19px;
    max-width: 208px;
    width: 100%;
    z-index: -1;
    display: flex;
    text-align: center;
}

.btn-img{
    /*position: absolute;*/
    max-width: 28px;
    width: 100%;
    box-sizing: border-box;
    color: #173753;
    position: relative;
    z-index: 1;
    left: -65px;
    top: 3px;

}

.header-images{
    width: 100%;
    bottom: 0;
    right: 0;
}

.header-bg{
    position: absolute;
    max-width: 900px;
    width: 100%;
    bottom: 0;
    right: -8%;
}

.header-img{
    position: absolute;
    max-width: 537px;
    width: 100%;
    bottom: 0;
    right: 12%;
}

.section-steps{
    padding: 0 0;
    
    min-height: 409px;
}

.steps-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.steps-element{
    max-width: 325px;
    width: 100%;
    /*margin-right: 52px;*/
}

.steps-img-content{
    min-height: 105px;
    width: auto;
    margin-bottom: 29px;
}

.steps-text-content{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    
    letter-spacing: 0.2px;
    color: #0F2336;
}

.steps-span{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #576D81; 
    margin-top: 12px; 
}

.sections-content{
    max-height: 3159px;
    height: 100%;
    background-color: #fff;
}

.section-phone-container{
    max-width: 1140px;
    height: 540px;
    width: 100%;
    margin-top: 82px;
    margin-bottom: 220px;
    background-color: #F4F5F6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.phone-text{
    max-width: 420px;
    right: 0;
    /* top: 25%; */
    z-index: 1;
    
}

.phone-text-2{
    max-width: 420px;
    width: 100%;
    left: -150px;
    /* top: 25%; */
    /* z-index: 1; */
    position: relative
    
}

.phone-2-span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 22px;
    width: 404px;
    color: #576D81;
}

.phone-2-span-bold{
    display: block;
    max-width: 331px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 22px;
    margin-top: 22px;

    color: #0F2336;
}

.phone-span{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 22px;
    color: #576D81;
}

.phone-span-bold{
    display: block;
    max-width: 195px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 22px;

    color: #0F2336;
}

.phone-img{
    position: relative;
    max-width: 580px;
    width: 100%;
    margin: 0;
    z-index: 1;
}

.phone-img-content-1{
    max-width: 321px;
    max-height: 640px;
    position: absolute;
    top: -325px;
    left: 25%;
    z-index: 1;
}

.phone-img-content-2{
    max-width: 223px;
    max-height: 117px;
    width: 100%;
    position: absolute;
    top: 205px;
    left: 65%;
    z-index: 2;
}

.phone-img-content-3{
    max-width: 187px;
    max-height: 361px;
    width: 100%;
    /* z-index: 0; */
    left: 25px;
    top: -140px;
    position: absolute;
}

.phone-img-2{
    position: relative;
    /*right: 0;*/
    max-width: 580px;
    width: 100%;
    margin: 0;
    z-index: 1;
}

.phone-2-img-content-1{
    max-width: 321px;
    width: 100%;
    
    max-height: 640px;
    position: absolute;
    top: -325px;
    /* left: 25%; */
    right: 124px;
    z-index: 1;
}

.phone-2-img-content-2{
    max-width: 163px;
    max-height: 115px;
    width: 100%;
    
    position: absolute;
    bottom: -320px;
    right: 380px;
    z-index: 0;
}

.phone-2-img-content-3{
    max-width: 178px;
    max-height: 384px;
    width: 100%;
    
    /* z-index: 0; */
    right: 0;
    top: -140px;
    position: absolute;
}

.section-adventages{
    background-color: #F4F5F6;
    margin-bottom: 180px;
}

.adventages-container{
    min-height: 527px;
    width: 100%;
    
    display: flex;
    position: relative;
    
    padding: 10px;
    
}

.adventages-info{
    max-width: 505px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.adventages-item-text{
    max-width: 326px;
    margin: 38px 0 43px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #0F2336;
}

.adventages-span{
    display: block;
    margin-top: 25px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #576D81;
}

.adventages-item-img{
    max-height: 50px;
    height: 100%;
    margin: 25px;
}

.adventages-item-1{
    display: flex;
    /* position: absolute; */
    max-width: 455px;
    max-height: 179px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 32px rgb(15 35 54 / 6%);
    
    margin: -30px 0 30px 0;
    
}

.adventages-item-2{
    display: flex;
    /* position: absolute; */
    max-width: 455px;
    max-height: 179px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 32px rgb(15 35 54 / 6%);
    margin: 0 0 30px 40px;
    
}

.adventages-item-3{
    display: flex;
    
    max-width: 455px;
    max-height: 179px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 32px rgb(15 35 54 / 6%);
    margin: 0 0 -30px 0;
    
}

.adventages-images{
    position: relative;
    max-width: 595px;
    width: 100%;
}

.img-adventages{
    position: absolute;
    bottom: 0;
}

.contact{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
}

.contact-text{
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #0F2336;

    max-width: 519px;
    width: 100%;
    padding-top: 23px;
}

.block-mobile{
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    width: 100%;
    padding-top: 20px;
}

.contact-enter-text{
    max-width: 394px;
    width: 100%;
    max-height: 55px;
    height: 100%;
    padding: 17px 110px 16px 110px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.35);

    background: #F0F0F2;
    border: 1px solid #F0F0F2;
    box-sizing: border-box;
    border-radius: 6px;
}

.contact-btn{
    max-width: 156px;
    width: auto;
    padding: 16px 36px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0F2336;

    background: #00CCCC;
    border: 1px solid #00CCCC;
    box-sizing: border-box;
    border-radius: 14px;
}

.contac-stores{
    padding-top: 20px;
    right: 88px;
    display: flex;
    justify-content: space-between;
    max-width: 394px;
    width: 100%;

    position: relative;

}

.btn-store{
    max-width: 185px;
    width: 100%;
    height: 60px;
    background: #240C39;
    /* border: 1px solid #00CCCC; */
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer{
    background: #0F2336;
    height: 297px;
    position: relative;
}

.footer-img-left{
    position: absolute;
    max-width: 172px;
    width: 100%;
    /* max-height: 336px; */
    /* height: 100%; */
    left: 0;
    bottom: 24px;
}

.footer-img-right{
    right: 0;
    bottom: 0;
    max-width: 155px;
    width: 100%;
    position: absolute;
}

.footer-wrapper{
    position: relative;
    height: 142px;
    max-width: 1210px;
    width: 100%;
    padding: 55px 115px 100px 115px;


    display: flex;
    justify-content: space-between;
    
}

.footer-text-content{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    padding-top: 30px;

    max-width: 520px;
    width: 100%;
}

.footer-column{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #00CCCC;
}

.span-footer{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.39px;
    color: rgba(255, 255, 255, 0.7);

    padding-top: 5px;    
}

.column-space{
    display: block;
    padding-top: 13px;
}